body{
    background: url( ../img/bgBody.jpg) repeat-x;
}


.domicilio{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 10px;
}

.direccion{
    margin-right: 110px;
    font-weight: bold;
    font-size: 13px;
    float: right;
}

.imgTel{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

.telefonos{
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
    float: right;
    //right: 340px;
}

.menuarriba{
    background-color: transparent; 
    border-color: transparent;
    position: relative;
    top: 60px;
}


.twitterIcon{
    position: absolute;
    float: right;
}

.facebookIcon{
    margin-right: 5px;
    float: left;
}

#parr{
    //position: relative;
    color: #faba03;
    font-size: small;
    /*float: right;
    right: 320px;*/
}
a {
    color: #faba03;
    text-decoration: none;
    /*position: relative;
    left: 25px;*/
    font-size: 13px;
    //top: 20px;
}
.Direbanner{
    background: url( ../img/fondoTelTop.png) top center no-repeat;
    /*position: relative;
    top: 40px;*/
    max-height: 80px;
    color: #FFFFFF;
    //left: 155px;
}
.infoDireccion{
    /*position: relative;
    left: 130px;*/
}

.banLink{
    /*position: relative;
    top: 20px;
    right: 280px;*/
    float: right;
}
.menuarriba nav{
    max-width: 620px;
    position: relative;
    right: 40px;
    top: 40px;
    color: white;
    
}

ul{
    padding: 0px;
}

ul li{
    display: inline;
}

.menuarriba ul li a{
    text-decoration: none;
    list-style: none;
    float: left;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
    background: url(../img/lineaMenuNavTop.png) bottom left repeat-x;
    height: 40px;
}

.navbar-toggle {
    background-color:#faba03;
}

.navbar-default{
    background-color: transparent;
}

.navbar-collapse{
    position: relative;
    left: 10px;
    
}

.navbar{
    border: none;
    min-height: 20px;
}


.espacioTwiter{
    background: url(../img/slickbg.png) no-repeat #f5f5f5;
    height: 280px;
    margin-bottom: 40px;
    /* width: 20px; */
}

.tituloTwitter{
    background: url(../img/top_bar.png) repeat-x;
    max-width: 220px;
    margin-top: 40px;
    margin-left: -3px;
}

.tituloTwitter img{
    
}

.tituloTwitter h2{
    font-size: 22px;
    color: white;
    font-weight: bold;
    /* margin-bottom: 40px; */
}
.fondoBaner{
    background: url(../img/fondoBanner.png) top center no-repeat;
    max-height: 340px;
    position: relative;
    top: 40px;
}

.contenidoImg{
    background: #FFF;
    padding-bottom: 10px;
}

.promociones{
    margin-bottom: 20px;
    overflow: hidden;
}

img.promos {
    border: #CCC solid 2px;
    float: left;
}

.redeSociales div {
    float: right;
}

.menulateral ul li a{
    color: white;
    display: table-row;
    font-size: 14px;
    line-height: 40px;
}

.menulateral nav{
    margin-top: 30px;
}

.titulomenu{
    height: 40px;
    background: url(../img/lineaMenuNavTop.png) bottom left repeat-x;
}

h5 {
    font-size: 17px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 25px;
}

.hojita{
    
margin-top: 10px;
}

.titmenulat{
    margin-top: 40px;
    margin-right: 10px;
}

.pajarito{
   
}

@media(max-width:767px){}

@media(min-width:768px){}
    
@media(min-width:992px) and (max-width:1200px){}
    .domicilio {
        margin-top: 20px;
        font-size: 10px;
    }
@media(min-width:1200px){
    
}

