body{
    background: url( ../img/bgBody.jpg) repeat;
    height: 100%;
}


.domicilio{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 10px;
}

.direccion{
    margin-right: 110px;
    font-weight: bold;
    font-size: 13px;
    float: right;
    
}

.imgTel{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

.telefonos{
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
    float: right;
}

.menuarriba{
    background-color: transparent; 
    border-color: transparent;
    position: relative;
    top: 60px;
}

ul{
    padding: 0px;
}

.twitterIcon{
    position: absolute;
    float: right;
}

.facebookIcon{
    margin-right: 5px;
    float: left;
}

#parr{
    //position: relative;
    color: #faba03;
    font-size: small;
    /*float: right;
    right: 320px;*/
}
a {
    color: #faba03;
    text-decoration: none;
    /*position: relative;
    left: 25px;*/
    font-size: 13px;
    //top: 20px;
}
.Direbanner{
    background: url( ../img/fondoTelTop.png) top center no-repeat;
    /*position: relative;
    top: 40px;*/
    max-height: 80px;
    color: #FFFFFF;
    //left: 155px;
}
.infoDireccion{
    background: url(../img/fondoTelTop.png) top center no-repeat;
    margin-top: 30px;
    margin-bottom: -40px;
    margin-right: 200px;
}


.banLink{
    /*position: relative;
    top: 20px;
    right: 280px;*/
    float: right;
}

.red-icono{
    width: 50px;
}

.menuarriba ul li{
	padding-right:7px;
	padding-top: 25px;
	padding-bottom:10px;
	//background-color:aqua;
	border-bottom: 5px solid #FABA03;
}

.menuarriba ul li a{
	font-size:15px;	
	font-weight:bold;
	color:white;
}

.menuarriba ul li:hover{
	background-color:orange;
}

.navbar-default{
	background-color: transparent;
	border:none;
}


.espacioTwiter{
    background: url(../img/slickbg.png) no-repeat #f5f5f5;
    height: 300px;
    margin-bottom: 40px;
    margin-top: 10px;
    /* padding-right: 42px; */
    /* width: 280px; */
    margin-right: -2px;
    margin-left: -3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tituloTwitter{
    background: url(../img/top_bar.png) repeat-x;
    max-width: 213px;
    margin-top: -30px;
    margin-left: -3px;
    margin-bottom: -10;
}

.tituloTwitter img{
    
}

.tituloTwitter h2{
    font-size: 22px;
    color: white;
    font-weight: bold;
    /* margin-bottom: 40px; */
    margin-left: -30px;
}
.fondoBaner{
    //background: url(../img/fondoBanner.png) top center no-repeat;//
    max-height: 280px;
}

.fondoBaner img{
    width: 100%;
}

.contenidoImg{
    background: #FFF;
    padding-bottom: 10px;
    //margin-right: 20px;
    border-radius: 8px;
}

.promociones{
    margin-bottom: px;
    overflow: hidden;
    /* margin-top: 22px; */
    margin-left: 2px;
    margin-right: -20px;
}

img.promos {
    border: #CCC solid 2px;
    width: 100%;
}

.redeSociales div {
    float: right;
}

.menulateral ul li a{
    color: white;
    display: block;
    font-size: 14px; 
  
}

.menulateral ul{
    list-style-image: url(../img/listStyleMenuVertical.png);
}

.titulomenu{
    height: 80px;
    /* width: 140px; */
    background: url(../img/lineaMenuNavTop.png) bottom left repeat-x;
    /* margin-top: 30px; */
    /* color: white; */
}

.hojitasRojas img{
    margin-top: 20px;
    margin-left: 20px;
}

h5{
    font-size: 17px;
    color: white;
    font-weight: bold;
    /* float: right; */
    /* margin-right: 25px; */
}

.btn:hover{
    color: rgb(250, 186, 3);
    text-decoration: none;
}

.hojita{
    
margin-top: 10px;
    
/* float: left; */
}

.titmenulat{
    margin-top: 40px;
    margin-right: 10px;
}

.pajarito{
   
/* margin-bottom: -20px; */
   
/* padding-bottom: 30px; */
   
margin-top: -40px;
}

.firmaDominio p{
    color: white;
    float: right;
    margin-left: 50px;
}

.firmaDominio img{
    margin-left: 200px;
}

.piePagina p{
    color: white;
    padding-top: -4px;
    margin-top: auto;
}

.derechosReservados p{ 
    margin-top: 50px;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    ul li{
        float: left;
    }
    
    .img-logo{
        width: 165px;
        height: 180px;
    }
    
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

    .contenidoImg{
        background: #FFF;
        padding-bottom: 10px;
        width: 691px;
        margin-right: 20px;
        border-radius: 8px;
    }

    .promociones{
        margin-bottom: px;
        overflow: hidden;
        /* margin-top: 22px; */
        margin-left: 2px;
        margin-right: -20px;
    }

    img.promos {
        border: #CCC solid 2px;
        float: left;
        margin-bottom: 10px;
        margin-right: 13px;
    }

    
}


/* Medium Devices, Desktops */
@media (min-width : 992px){

    .contenidoImg {
        background: #FFF;
        padding-bottom: 10px;
        min-width: 500px;
        margin-right: 20px;
        margin-top: 30px;
        border-radius: 8px;
    }
    
    .contenidoImg img{
    margin-left: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
    .btnLateral {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .menulateral ul li a{
        color: white;
        display: block;
        font-size: 15px;
        line-height: 30px;
        margin-right: 20px;
    }
    
    .firmaDominio p {
        color: white;
        margin-left: -1px;
        margin-top: 46px;
    }
    
    .firmaDominio img{
        margin-left: 50px;
        margin-bottom: 30px;
    }
    
    .alineacion{
        text-align: center;
    }
    
    .contenidoImg {
        background: #FFF;
        padding-bottom: 10px;
        margin-right: 20px;
        margin-top: 30px;
        border-radius: 8px;
        /* align-content: center; */
    }
    
    .titulomenu {
        height: 40px;
        background: url(../img/lineaMenuNavTop.png) bottom left repeat-x;
        margin-top: 30px;
    }
    
    .galeria{
        min-width: 280px;
        min-height: 250px;
    }
    
    ul li{
        float: none;
		list-style:none;		
    }
    
    .navbar-nav {
        margin: 0px;
    }
    
    #barra ul li a {
        padding: 0 10px;
        display: inline;
        font-weight: bold;
        font-size: 20px;
        color: white !important;
        border-right: none;       
    }
    
    .vertical-list div img{
        margin-top: 10px;
    }
    
    .img-logo{
        width: 150px;
        //height: 180px;
    }   
	
	.navbar-default{
		background-color: transparent;
		border:none;
	}
	
	.red-icono{
		width: 50px;		
		float: right;		
		margin-right: 15px;
		padding-top:8px;
		padding-bottom:30px;
	}
	
	.icon-bar{
		width:auto !important;
	}
	
	.navbar-toggle{
		width:50px;
		height:50px;
	}
}


@media(max-width:650px)
{
    div.vertical-list{
        float: none;
    }
}

@media (min-width: 768px){
    
    
    .contenidoImg {
        background: #FFF;
        //padding-bottom: 10px;
        //width: 350px;
        //margin-right: 20px;
        //margin-top: 30px;
        border-radius: 8px;
        //margin-left: 100px;
    }
    
    img.promos {
        border: #CCC solid 2px;
        float: left;
        margin-bottom: 10px;
        margin-right: 13px;
        height: 280px;
    }
    .firmaDominio p {
        color: white;
        margin-top: 30px;
        margin-right: -20px;
    }
    
    .firmaDominio img{
        margin-left: -30px;
    }
    
    .telefonos{
        margin-right: 40px;
        font-weight: bold;
        font-size: 20px;
        float: right;
    }
    
    .piePagina p{
        color: white;
        padding-top: -4px;
        margin-top: auto;
    }
    
}